.channelTitle{
    color: gray;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-bottom: 4px;
    border-bottom: 2px solid gray;
}

.channelHeader__left > h3 {
    display: flex;
    align-items: center;
    color: whitesmoke;
}

.channelHeader__right {
    display: flex;
    align-items: center;
    flex: .5;
    justify-content: space-between;
}

.channelHeader__hash {
    font-size: 30px;
    padding: 8px;
    color: gray;
}