.chat__container {
    display: flex;
    flex-direction: column;
    flex: 0.25;
    background-color: var(--background);
    height: 100vh;
    border-left: 1px solid gray;
}
/* 
.chat__header{
    color: gray;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-bottom: 4px;
    border-bottom: 2px solid gray;
}

.chat__header > h3 {
    display: flex;
    align-items: center;
    color: whitesmoke;
} */

.chats {
    flex: 1;
    overflow-y: scroll;
}

.chat__input {
    display:flex;
    align-items: center;
    justify-content: space-between;
    color: lightgray;
    padding: 15px;
    margin-top: 10px;
    border-top: 1px solid gray;
    background-color: #474b53;
}

.chat__input > form {
    flex: 1;
}

.chat__input > form > input {
    padding: 15px;
    background: transparent;
    border: none; 
    outline-width: 0;
    color: whitesmoke;
    font-size: large;
    width: 100%;
}

.chat__inputButton {
    display: none;
}

.post__inputIcons > .MuiSvgIcon-root {
    padding: 5px;
}