.ccc {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 10px;
    color: whitesmoke;
}

.c__content {
    margin-left: 0px;
}

.c__timestamp {
    color:gray;
    margin-left: 20px;
    font-size: x-small;
}

.c__text {
    padding-top: 5px;
}