.chatHeader {
    /* color: gray;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 3px solid gray; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-bottom: 23px;
    background-color: var(--background);
    color: whitesmoke;
    border-bottom: 3px solid #26282c;
}

.chatHeader__left > h3 {
    display: flex;
    align-items: center;
    color: whitesmoke;
}

.chatHeader__right {
    display: flex;
    align-items: center;
    flex: .5;
    justify-content: space-between;
}

.chatHeader__hash {
    font-size: 30px;
    padding: 8px;
    color: gray;
}