.post {
    display: flex;
    align-items: center;
    padding: 20px;
    color: whitesmoke;
}

.post__content {
    margin-left: 20px;
}

.post__timestamp {
    color:gray;
    margin-left: 20px;
    font-size: x-small;
}

.post__text {
    padding-top: 5px;
}

.clearIcon {
    margin-bottom: -7px;
}

.clearIcon:hover {
    margin-bottom: -7px;
    background: black;
    border-radius: 15px;
}